/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Styl nagłówka */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Styl nawigacji */
nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 2em;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Styl sekcji */
section {
    padding: 40px;
}

/* Styl projektów */
.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}
#wrapper
{
    margin: auto;
}
#wrapper2
{
    margin: auto;
    padding-bottom: 50px;

}
#buttonReset, #buttonBack
{
    border: 1px solid black; 
    background-color: lightgreen; 
    width: 100px;
    height: 30px;
    margin-right: 1%;
    margin-bottom: 1%;
    display: flex;
}
#demo3, #demo4, #demo5, #demo5, #demo6, #demo7, #demo8
{
    border: 1px solid black; 
    background-color: lightgreen; 
    width: 100px;
    height: 30px;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    display: flex;
float: left;
}
/* Styl stopki */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    clear: both;
}
img {
    width:1200px;
    height:400px;
    max-width: 100%;
    }

    .column .column1{
        float: left;
        width: 50%;
        padding: 10px;
        
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}

      @media only screen and (max-width: 600px) {
      
        .column .column1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;
            
          }
        }