/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Styl nagłówka */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Styl nawigacji */
nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 2em;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Styl sekcji */
section {
    padding: 40px;
}

/* Styl projektów */
.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Styl stopki */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;   /* Height of the footer */
   
}
img {
    width:1200px;
    height:400px;
    max-width: 100%;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }