/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl nagłówka */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Styl nawigacji */
nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Styl sekcji */
section {
    padding: 40px;
}

/* Styl projektów */
.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Styl stopki */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
